* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #071221;
    color: #ffffff;
}

.navbar{
    background-color: white;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logoNav{
    width: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
}

.navbar ul li a{
    text-decoration: none;
    /* color: #c71919; */
    color: #c41818;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.navbar-bawah{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar-bawah p{
    text-align: center;
    padding: 20px 0;
    margin-left: 20px;
    color:#071221;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logo-bwh{
    text-align: center;
    padding: 20px 0;
    margin-right: 10px;
    width: 20px;
}

.main1{
    display: flex;
    background-image: url(video/esport1.mp4);
    flex-direction: column;
}

.vid{
    z-index: -1;
}

.text1{
    display: flex;
    margin: 20px 0;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
}

.text1 p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text1 h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text1 span{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.inform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 70px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}

.text2{
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 5px;
    color:#071221;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text2 span{
    color:#c41818;
}

.sponsor{
    background-image: url(image/EsportTrailer.png);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.sponsor h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#fff;
}

.logos-sponsor{
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-a img{
    width: 10px;
    height: 30px;
}



.com-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

    border: none;
    border-radius: 20px;
    background-color: #fff;
    margin: 50px;
    padding: 30px 5px;
}

.text-up h4{
    font-size: 35px;
    color: #071221;
}

.text-up p{
    font-size: 15px;
    color:#071221;
    text-align: center;
}

.text-up span{
    color:#c41818;
}

.logos img{
    margin: 40px 8px 20px 8px;
    width: 40px;
    height: 40px;
}